# 4-2. 반복문 : for 문
---
* 날짜: 2022-04-01
* 이름: 고민수

## 개념정리
---

반복문은 특정 조건에 따라 반복문 코드 블럭 안의 내용을 반복합니다. 반복문을 잘 사용하면 100번 써야 할 일을 한번에 끝낼 수 있습니다. 반복문에는 `for문`과 `while문` 이 있습니다. 오늘 배울 `for문`은 처음부터 반복의 횟수를 정해줍니다.

### **(1) 기본 사용**


for문은 몇번 반복할 것인지 조건을 주고, 그 조건에 따라 for문 아래에 있는 코드가 실행됩니다.

```
for 조건: # 조건의 횟수만큼
  코드1 # 이 코드들을 반복합니다.
  코드2 # 이 코드들을 반복합니다.
  ...
```

그럼 조건을 어떻게 주는지 알아봅시다.

#### **군집자료형과 함께 쓰는 for문**

군집자료형의 요소가 차례대로 `i` 에 바인딩 됩니다. `for문` 아래에서 `i`가 변수로 작동됩니다.  아래 예시에서 `i`는 모두 `1,2,3` 순으로 출력됩니다.  

```
for i in [1,2,3]:
  print("i의 값은 : ", i)
```

In [1]:
for i in [1,2,3]:
  print("i의 값은 : ", i)

i의 값은 :  1
i의 값은 :  2
i의 값은 :  3

리스트가 아닌 튜플이나 문자열 등 다른 군집자료형도 같은 결과를 얻습니다.

```
for i in (1,2,3):
  print("반복", i)
```

In [2]:
for i in (1,2,3):
  print("반복", i)

반복 1
반복 2
반복 3

for문 내에서 변수가 필요 없으면 아래와 같이 언더바(_)로 표기하기도 합니다.

```
for _ in [1,2,3]:
  print("i 값이 필요없는 반복")
```

In [3]:
for _ in [1,2,3]:
  print("i 값이 필요없는 반복")

i 값이 필요없는 반복
i 값이 필요없는 반복
i 값이 필요없는 반복

#### **range와 함께 쓰는 for문**


굳이 군집자료형을 만들어 놓지 않아도 반복문을 쓸 수 있습니다. 이 때는 range를 이용하는데, range도 슬라이싱 과 마찬가지로 처음, 끝, 스텝이 존재합니다. 

* `range(n)`: `0`부터 `n-1` 까지 총 `n` 회 반복됩니다.

```
for i in range(3):
  print("i의 값은 : ", i)
```

In [4]:
for i in range(3):
  print("i의 값은 : ", i)

i의 값은 :  0
i의 값은 :  1
i의 값은 :  2


* `range(n, m)`: `n`부터 `m-1`까지 총 `m-n`회 반복됩니다.

```
for i in range(3, 6):
  print(i)
```

In [5]:
for i in range(3, 6):
  print(i)

3
4
5


* `range(n, m, s)`: `n`부터 `m-1`까지 `s`씩 건너뛰며 반복됩니다.

```
for i in range(3, 10, 2):
  print(i)
```

In [6]:
for i in range(3, 10, 2):
  print(i)

3
5
7
9

### **(2) 함수와 함께 쓰는 for문**


함수도 반복해서 실행시켜야 할 경우 for문을 통해서 작성할 수 있습니다.

```
def my_func(n):
  print(n, "을 출력하는 함수입니다")

for i in range(3):
  my_func(i)
```

In [9]:
def my_func(n):
    print(n, "을 출력하는 함수입니다")

for i in range(3):
    my_func(i)

0 을 출력하는 함수입니다
1 을 출력하는 함수입니다
2 을 출력하는 함수입니다

### **(3) if문과 함께 쓰는 for문**

for문 아래에 조건을 주어 특정 변수가 입력될 때만 코드를 실행할 수 있습니다. 

```
for i in range(3): # i는 0,1,2 세번 반복
  print('i의 값은:', i) # 세번 이 코드를 실행
  if i>0: # 세번 반복 중에 i가 0보다 크면
    print('if문: i가 0보다 큽니다') # 이 코드를 실행
```

In [12]:
for i in range(3): # i는 0,1,2 세번 반복
    print('i의 값은:', i) # 세번 이 코드를 실행
    if i>0: # 세번 반복 중에 i가 0보다 크면
        print('if문: i가 0보다 큽니다') # 이 코드를 실행

i의 값은: 0
i의 값은: 1
if문: i가 0보다 큽니다
i의 값은: 2
if문: i가 0보다 큽니다

#### 다음반복으로 건너뛰기

* `continue`

`for문` 안에서 `continue`를 만나면 즉시 다음 반복으로 넘어갑니다. `continue` 아래에 있는 `for문` 코드들은 진행되지 않습니다. 

```
for i in range(5): # i는 0~4 반복
  print(f'-----\n{i}번째 루프 시작') # 반복해서 이 코드를 실행
  if i>=2: # 만약 i가 2 이상이면
    continue # 다음 반복으로 넘어간다.
  print(f'{i}번째 루프 끝') # 반복해서 이 코드를 실행
```

In [8]:
for i in range(5): # i는 0~4 반복
    print(f'-----\n{i}번째 루프 시작') # 반복해서 이 코드를 실행
    if i>=2: # 만약 i가 2 이상이면
    continue # 다음 반복으로 넘어간다.
    print(f'{i}번째 루프 끝') # 반복해서 이 코드를 실행

-----
0번째 루프 시작
0번째 루프 끝
-----
1번째 루프 시작
1번째 루프 끝
-----
2번째 루프 시작
-----
3번째 루프 시작
-----
4번째 루프 시작

코드에서 `i`가 2이상일때 `continue`를 만나기 때문에 if문 바깥의 `(f'{i}번째 루프 끝')` 코드가 실행되지 않습니다. 그렇기 때문에 2번째 루프 부터는 끝이라는 출력이 보이지 않네요.

#### **for문을 즉시 종료하기**  

* `break`

`for문` 안에서 `break` 을 만나면 즉시 `for문`이 종료됩니다. (모든 루프가 돌아가지 않았어도)

```
for i in range(5): # i는 0~4 반복
  print(f'-----\n{i}번째 루프 시작') # 반복해서 이 코드를 실행
  if i>=2: # 만약 i가 2 이상이면
    break # 즉시 for문 종료
  print(f'{i}번째 루프 끝') # 반복해서 이 코드를 실행
```

In [14]:
for i in range(5): # i는 0~4 반복
    print(f'-----\n{i}번째 루프 시작') # 반복해서 이 코드를 실행
    if i>=2: # 만약 i가 2 이상이면
        break # 즉시 for문 종료
    print(f'{i}번째 루프 끝') # 반복해서 이 코드를 실행

-----
0번째 루프 시작
0번째 루프 끝
-----
1번째 루프 시작
1번째 루프 끝
-----
2번째 루프 시작

`if문`의 조건을 만족하여 `break`을 만나는 순간 `for문`이 종료되고, 다음 루프가 실행조차 되지 않습니다. 따라서 2번째 루프가 시작된 후 다음 코드들은 보이지 않네요.

### **(4) for문을 더 효율적으로 사용하기**

for문은 파이썬에서 아주 유용하게 사용되는 문법입니다. 그러다 보니 좀 더 효율적으로 사용하는 방법에 대해 알고 있는것이 매우 도움이 됩니다.


#### **두개의 sequence를 함께 나열하기**

* `zip`  

`zip`을 이용해서 두개의 sequence를 순차적으로 함께 나타낼 수 있습니다. 사용 문법을 잘 숙지해 둡시다.

```
list1 = ["A","B","C"]
list2 = ["a", "b", "c"]
for i1, i2 in zip(list1,list2):
  print(f'list1: {i1}, list2: {i2}')
```

In [15]:
list1 = ["A","B","C"]
list2 = ["a", "b", "c"]
for i1, i2 in zip(list1,list2):
    print(f'list1: {i1}, list2: {i2}')

list1: A, list2: a
list1: B, list2: b
list1: C, list2: c

#### **순번을 함께 나열하기**

* `enumerate`  

`for문` 내에서 변수의 값은 항상 `sequence`에 의해서 정해집니다. 절대적인 순번(0, 1, 2, 등)을 같이 변수로 바인딩하고 싶다면 `enumerate`를 사용합니다. 

```
list1 = ["A","B","C"]
for idx, i in enumerate(list1):
  print( f'idx: {idx}, i: {i}')
```

In [17]:
list1 = ["A","B","C"]

for idx,i in enumerate(list1):
    print(idx, i)

# for idx, i in enumerate(list1):
#     print( f'idx: {idx}, i: {i}')

0 A
1 B
2 C

### (5) 다중 for문

for문 아래 for문을 또 추가 할 수 있습니다. 다만 다중 for문일 때 코드의 작동순서를 잘 파악할 필요가 있습니다. 삼중, 사중 for문도 구현은 가능합니다. 하지만 for문이 추가될때마다 계산량이 급격히 증가하기 때문에 되도록이면 이중 for문을 넘어가지 않는것이 좋습니다.

```
for i in range(3):
  for j in range(3):
    print(f"i: {i}, j:{j}")
```

In [18]:
for i in range(3):
    for j in range(3):
        print(f"i: {i}, j:{j}")

i: 0, j:0
i: 0, j:1
i: 0, j:2
i: 1, j:0
i: 1, j:1
i: 1, j:2
i: 2, j:0
i: 2, j:1
i: 2, j:2

코드가 아직 익숙하지 않은 상태에서 다중 for문을 보면 해석하기 어려울 수 있습니다. 이것저것 변수를 건드려보고, 출력을 바꾸면서 최대한 익숙해지도록 하는 것이 좋습니다. 아래 코드가 어떻게 나올지 예상해보고 출력해 봅시다.

```
for i in range(1, 6):
    print(i, end=": ")
    for j in range(1, 11):        
        print(j, end=" ")
    print()
```

In [19]:
for i in range(1, 6):
    print(i, end=": ")
    for j in range(1, 11):        
        print(j, end=" ")
    print()

1: 1 2 3 4 5 6 7 8 9 10
2: 1 2 3 4 5 6 7 8 9 10
3: 1 2 3 4 5 6 7 8 9 10
4: 1 2 3 4 5 6 7 8 9 10
5: 1 2 3 4 5 6 7 8 9 10

## (6) 리스트 안에 for문 쓰기

In [25]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
l = []
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
l = [i+10 for i in range(10)]
l

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [31]:
l = [i for i in range(5) for j in range(4)]
l

[0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4]

## 문제풀이
---

아래와 같이 리스트를 정의하세요.

```
my_list = ["apple", "blue", "cup", "door"]
```

In [32]:
my_list = ["apple", "blue", "cup", "door"]

**예제 01**


아래 실행 결과를 내는 코드를 `for문`과 `my_list`를 이용하여 작성하세요

```{.no-highlight}
It's apple
It's blue
It's cup
It's door
```

In [33]:
for i in my_list:
    print(f"It's {i}")

It's apple
It's blue
It's cup
It's door

**예제 02** 

아래 실행 결과를 내는 코드를 `for문`과 `range`를 이용해서 작성하세요

```{.no-highlight}
It's apple
It's blue
It's cup
It's door
```

In [36]:
for i in range(4):
    print(f"It's {my_list[i]}")

It's apple
It's blue
It's cup
It's door

**예제 03** 

아래 실행 결과를 내는 코드를 작성하세요

```{.no-highlight}
-------
start!
It's apple
It's blue
It's cup
It's door
-------
```

In [37]:
print("------")
print("start!")
for i in range(4):
    print(f"It's {my_list[i]}")
print("------")

------
start!
It's apple
It's blue
It's cup
It's door
------

**예제 04** 

아래 실행 결과를 내는 코드를 작성하세요


```{.no-highlight}
-------
start!
-------
It's apple
-------
It's blue
-------
It's cup
-------
It's door
end!
-------
```

In [39]:
print("------")
print("start!")
for i in range(4):
    print("------")
    print(f"It's {my_list[i]}")
print("end!")
print("------")

------
start!
------
It's apple
------
It's blue
------
It's cup
------
It's door
end!
------


**예제 05** 

아래 실행 결과를 내는 코드를 작성하세요

```{.no-highlight}
a is apple
-------
b is blue
-------
c is cup
-------
d is door
-------
```

In [46]:
for i in range(4):
    print(f"{my_list[i][0]} is {my_list[i]}")
    print("------")

a is apple
------
b is blue
------
c is cup
------
d is door
------

**예제 06** 

아래 실행 결과를 내는 코드를 작성하세요

```{.no-highlight}
Apple
Blue
Cup
Door
```

In [56]:
for i in range(4):
    print(my_list[i].capitalize())

Apple
Blue
Cup
Door


**예제 07** 

아래 실행 결과를 내는 코드를 작성하세요

```{.no-highlight}
Apple len: 5 
Blue len: 4
Cup len: 3
Door len: 4
```

In [58]:
for i in range(4):
    print(my_list[i].capitalize(), "len:",len(my_list[i]))

Apple len: 5
Blue len: 4
Cup len: 3
Door len: 4

**예제 08** 

아래 실행 결과를 내는 코드를 작성하세요

```{.no-highlight}
0. apple  
1. blue 
2. cup 
3. door 
```

In [61]:
for idx, i in enumerate(my_list):
    print(f"{idx}. {i}")

0. apple
1. blue
2. cup
3. door

**예제 09** 

아래 실행 결과를 내는 코드를 작성하세요

```{.no-highlight}
00. apple  
01. blue 
02. cup 
03. door 
```

In [62]:
for idx, i in enumerate(my_list):
    print(f"0{idx}. {i}")

00. apple
01. blue
02. cup
03. door

**예제 10** 

`my_list2`가 다음과 같이 주어졌을 때 위에서 만든 `my_list`와 `my_list2`를 이용하여 아래와 같은 결과를 내는 코드를 작성하세요

```
my_list2 = ["red","corona","mug","oppen"]
```

```
Red apple
Corona blue
Mug cup
Oppen d
```

In [64]:
my_list2 = ["red","corona","mug","oppen"]

for i, j in zip(my_list, my_list2):
    print(f"{j.capitalize()} {i}")

Red apple
Corona blue
Mug cup
Oppen door

**예제 11** 

구구단을 호출하는 함수를 만드세요


```
>> gugudan(5)
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
```

In [67]:
def gugudan(input1):
    for i in range(1,10):
        print(f"{input1} * {i} = {input1*i}")
        
gugudan(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

**예제 12** 

이중 for문을 이용하여 아래와 똑같이 출력하는 코드를 작성하세요

```{.no-highlight}
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 
1 2 3 4 5 6 7 8 9 10 
1 2 3 4 5 6 7 8 9 10
```

In [69]:
for i in range(1,11):
    for j in range(1,11):
        print(j, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

**예제 13** 

이중 for문을 이용하여 아래와 똑같이 출력하는 코드를 작성하세요

```{.no-highlight}
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
1 2 3 4 5 6 
```

In [70]:
for i in range(1,8):
    for j in range(1,7):
        print(j, end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

**예제 14** 

아래와 똑같이 출력하는 코드를 작성하세요

```{.no-highlight}
2 4 6 8 10 
1 3 5 7 9
2 4 6 8 10 
1 3 5 7 9
2 4 6 8 10 
1 3 5 7 9
2 4 6 8 10 
1 3 5 7 9
2 4 6 8 10 
1 3 5 7 9
```

In [73]:
for i in range(1,6):
    for j in range(2,11,2):
        print(j, end=" ")
    print()
    for j in range(1,11,2):
        print(j, end=" ")
    print()

2 4 6 8 10
1 3 5 7 9
2 4 6 8 10
1 3 5 7 9
2 4 6 8 10
1 3 5 7 9
2 4 6 8 10
1 3 5 7 9
2 4 6 8 10
1 3 5 7 9

**예제 15** 

이중 for문을 이용하여 아래와 똑같이 출력하는 코드를 작성하세요

```{.no-highlight}
         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********
```

In [89]:
for i in range(9,-1,-1):
    print(f'{" "*i:*<10}')

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********


**예제 16** 

이중 for문을 이용하여 아래와 똑같이 출력하는 코드를 작성하세요

```{.no-highlight}
           #
           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  -------------------
  *******************
    MARRY CHRISTMAS !
```

In [105]:
print(f'{"#":^20}')
for i in range(1,19,2):
    print(f'{"*"*i:^20}')
print(f'{"-"*19:^20}')
print(f'{"*"*19:^20}')
print(f'{"MARRY CHRISTMAS !":^20}')

         #
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
-------------------
*******************
 MARRY CHRISTMAS !



`apartment`가  다음과 같이 주어져 있습니다. 
```
apartment = [ [201, 202, 203], [301, 302, 303], [401, 402, 403] ]
```

In [106]:
apartment = [ [201, 202, 203], [301, 302, 303], [401, 402, 403] ]

**예제 17** 

아래와 같은 결과를 출력하는 코드를 `for문`과 `range`를 이용해 작성하세요

```{.no-highlight}
201 호 
301 호 
401 호
```

In [112]:
for i in range(0,3):
    print(f"{apartment[i][0]} 호")

201 호
301 호
401 호


**예제 18** 

아래와 같은 결과를 출력하는 코드를 `for문`과 `range`를 이용해 작성하세요


```{.no-highlight}
203 호 
303 호 
403 호
```

In [113]:
for i in range(0,3):
    print(f"{apartment[i][2]} 호")

203 호
303 호
403 호

**예제 19** 

아래와 같은 결과를 출력하는 코드를 `for문`과 `range`를 이용해 작성하세요


```{.no-highlight}
402 호 
302 호 
202 호 
```

In [115]:
for i in range(2,-1,-1):
    print(f"{apartment[i][1]} 호")

402 호
302 호
202 호

**예제 20** 

아래와 같은 결과를 출력하는 코드를 `for문`과 `range`를 이용해 작성하세요

```{.no-highlight}
201 호 옆집은 202 호
301 호 옆집은 302 호
401 호 옆집은 402 호
```

In [ ]:
for i in range(0,3):
    print(f"{apartment[i][0]} 호 옆집은 {apartment[i][0]} 호")


**예제 21** 

아래와 같은 결과를 출력하는 코드를 `for문`과 `range`를 이용해 작성하세요

```{.no-highlight}
201 호 윗층은 301 호 윗층은 401호
202 호 윗층은 302 호 윗층은 402호
203 호 윗층은 303 호 윗층은 403호
```

In [127]:
for i in range(0,3):
    temp = []
    for j in range(0,3):
         temp.append(f"{str(apartment[j][i])} 호") 
    print(" 윗층은 ".join(temp))

201 호 윗층은 301 호 윗층은 401 호
202 호 윗층은 302 호 윗층은 402 호
203 호 윗층은 303 호 윗층은 403 호

**예제 22** 

아래와 같은 결과를 출력하는 코드를 `for문`과 `range`를 이용해 작성하세요


```{.no-highlight}
201 호 
202 호
203 호
301 호
302 호
303 호
401 호 
402 호
403 호
```

In [130]:
for i in range(0,3):
    for j in range(0,3):
        print(f"{apartment[j][i]} 호")

201 호
301 호
401 호
202 호
302 호
402 호
203 호
303 호
403 호

**예제 23** 

1, 4, 7, 10, 13 ... 31 을 `for문`과 `range`를 이용해서 출력하세요

In [132]:
for i in range(1,32,3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31

**예제 24** 

아래와 같이 n을 인풋으로 하면 1부터 n까지 더한 값을 출력하는 함수 `add_nums(n)`를 만드세요


```
>> add_nums_line(5)
1
3
6
10
15
```

In [133]:
def add_nums_line(input1):
    sum = 0
    for i in range (1, input1+1):
        sum += i
        print(sum)
        
add_nums_line(5)

1
3
6
10
15

`num_list`가 아래와 같이 정의되어 있습니다. 

```
num_list = [0,2,3,5,6,12,15,17,18,23,25,27,45,47,48,53,57,58,59,60,63,64,68,72,75,79,86,93,96,99,100]
```

In [134]:
num_list = [0,2,3,5,6,12,15,17,18,23,25,27,45,47,48,53,57,58,59,60,63,64,68,72,75,79,86,93,96,99,100]

**예제 25**

`num_list` 중 4의 배수만 출력하세요

In [135]:
for i in num_list:
    if i%4==0:
        print(i)

0
12
48
60
64
68
72
96
100


**예제 26** 

`num_list` 중 50 이하인 5의 배수만 출력하세요

In [136]:
for i in num_list:
    if i%5==0 and i<=50:
        print(i)

0
5
15
25
45

**예제 27** 

`num_list` 중 각 자리수를 더해서 10이 넘는 숫자만 출력하세요

In [142]:
def cal_num(input1):
    a = input1//100
    b = input1//10
    c = input1%10
    return a+b+c

for idx, i in enumerate(num_list):
    if cal_num(i) > 10:
        print(idx, cal_num(i))

13 11
14 12
16 12
17 13
18 14
22 14
24 12
25 16
26 14
27 12
28 15
29 18
30 11

**예제 28** 

`num_list` 중 가장 작은 7의 배수를 찾으세요. (hint: `break`을 반드시 포함하세요)

In [144]:
for i in num_list:
    if i%7==0 and i!=0:
        print(i)
        break

63

**예제 29** 

학생들의 번호와 점수가 딕셔너리에 아래와 같이 저장되어 있습니다. 전산 실수로 인해 점수가 실제 점수보다 10점이 깍인것을 발견했습니다. 점수를 모두 10점씩 올리세요

```
st_scores = {1:80, 2:55, 3:80, 4:35, 5:75, 6: 80, 7:40, 8: 90, 9:55, 10:20}
```

In [155]:
st_scores = {1:80, 2:55, 3:80, 4:35, 5:75, 6: 80, 7:40, 8: 90, 9:55, 10:20}

for i in range(1,11):
    st_scores[i] +=10
    
st_scores

{1: 90, 2: 65, 3: 90, 4: 45, 5: 85, 6: 90, 7: 50, 8: 100, 9: 65, 10: 30}


**예제 30** 

60점 미만인 학생들에게 "재평가가 실시될 예정입니다.", 90점 이상인 학생들에게 "우수장학금이 지급됩니다."를 출력하는 코드를 작성하세요. 단, 코드내에 continue를 반드시 포함하세요

In [156]:
for i in range(1,11):
    if st_scores[i]>=90:
        print(f"{i}학생은 우수장학금이 지급됩니다.")
    elif st_scores[i]>=60:
        continue
    else:
        print(f"{i}학생은 재평가가 실시될 예정입니다.")

1학생은 우수장학금이 지급됩니다.
3학생은 우수장학금이 지급됩니다.
4학생은 재평가가 실시될 예정입니다.
6학생은 우수장학금이 지급됩니다.
7학생은 재평가가 실시될 예정입니다.
8학생은 우수장학금이 지급됩니다.
10학생은 재평가가 실시될 예정입니다.

In [1]:
mart = {'a': ['apple', 1000], 'b': ['beer', 1200] , 'c' : ['cherry', 2000], 'd':['donut', 1500], 'e': ['egg', 500], 'f' : ['fish', 3000] }
mart

{'a': ['apple', 1000],
 'b': ['beer', 1200],
 'c': ['cherry', 2000],
 'd': ['donut', 1500],
 'e': ['egg', 500],
 'f': ['fish', 3000]}

**예제 31** 

가장 저렴한 값을 구하는 코드를 `for`를 이용해 한줄로 작성하세요.

In [2]:
key_lst = list(mart.keys())
key_lst

['a', 'b', 'c', 'd', 'e', 'f']

In [48]:
[i for i in list(mart.keys())]

['a', 'b', 'c', 'd', 'e', 'f']

In [55]:
min([mart[i][1] for i in mart])

500

**예제 32**

가격의 평균을 구하는 코드를 `for`를 이용해 한줄로 작성하세요

In [65]:
mart

{'a': ['apple', 1000],
 'b': ['beer', 1200],
 'c': ['cherry', 2000],
 'd': ['donut', 1500],
 'e': ['egg', 500],
 'f': ['fish', 3000]}

In [57]:
[i for i in mart]

['a', 'b', 'c', 'd', 'e', 'f']

In [60]:
sum([mart[i][1] for i in mart])/len(mart)

1533.3333333333333

**예제 33**

다음과 같은 출력을 하는 코드를 작성해보세요. 가능하다면 코드 한줄로 작성해 보세요.

```
a is apple, b is beer, c is cherry, d is donut, e is egg
```

In [73]:
", ".join([f"{i} is {mart[i][0]}" for i in mart])

'a is apple, b is beer, c is cherry, d is donut, e is egg, f is fish'